@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #1F3320;
    --cor-secundaria: #879F89;
    --cor-terciaria: #61BB65;
    --cor-hover: #618F64;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif; 

    --alinhamento-center: center;
    --sublinhado-none: none;
    --alinhamento: justify;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    }

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: var(--sublinhado-none);
}

.apresentacao {
    padding: 5% 15%;
    display:flex;
    align-items: var(--alinhamento-center);
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 56px;
    text-align: var(--alinhamento);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-align: var(--alinhamento);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: var(--alinhamento-center);
    gap: 32px;
    text-align: var(--alinhamento);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: var(--alinhamento);
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: var(--alinhamento-center);
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: var(--alinhamento-center);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: var(--sublinhado-none);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__img{
    width: 50%;
    max-width: 450px;
    height: auto;
    border-radius: 16px;
}

.img__logo{

    width: 32px;
    height: 32px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: var(--alinhamento-center);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/*@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
    } */

   /* @media (min-width: 768px) {
        .cabecalho {
            padding: 2% 15%;
        }

    
        .apresentacao {
            flex-direction: row;
            justify-content: space-between;
            padding: 5% 15%;
        }
    
        .apresentacao__conteudo {
            width: 50%;
            text-align: left;
        }
    
        .apresentacao__conteudo__titulo {
            font-size: 2.25rem;
        }
    
        .apresentacao__conteudo__paragrafo {
            font-size: 1.5rem;
        }
    
        .apresentacao__links__navegacao {
            font-size: 1.5rem;
            padding: 21.5px 0;
        }
    
        .apresentacao__img {
            width: 50%;
            max-width: 450px;
        }
    }*/

    /*@media (max-width: 767px) {
        .cabecalho {
            padding: 5%;
        }
    
        .cabecalho__menu {
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    
        .apresentacao__conteudo__titulo {
            font-size: 1.75rem;
        }
    
        .apresentacao__conteudo__paragrafo {
            font-size: 1rem;
        }
    
        .apresentacao__links__navegacao {
            font-size: 1rem;
            padding: 10px 0;
        }
    }*/

    @media (max-width: 1200px) {
        .cabecalho{
            padding: 10%;
        }
    
        .cabecalho__menu{
            justify-content: center;
        }
    
        .apresentacao{
            flex-direction: column;
            padding: 5%;
        }
    
        .apresentacao__conteudo{
            width: auto;
        }
    
        .apresentacao__img {
            order: -1; /* Move a imagem para o topo */
            width: 100%; /* Garante que a imagem ocupe 100% da largura disponível */
            max-width: 300px; /* Define um tamanho máximo para a imagem */
            margin-bottom: 20px; /* Adiciona espaçamento abaixo da imagem */
        }
    
        .apresentacao__links__navegacao {
            font-size: 1rem; /* Ajuste proporcional do tamanho da fonte */
            padding: 10px 0; /* Ajuste proporcional do padding */
            width: auto; /* Garante que os links ocupem 100% da largura disponível */
            max-width: 300px; /* Define um tamanho máximo para os links */
            margin: 0 auto; /* Centraliza os links horizontalmente */
        }
    }

    

    